snippet var Variable
	variable "${1}" {
		${2}
	}
snippet vard Variable with Default
	variable "${1}" {
		default = "${2}"
	}
snippet res Resource
	resource "${1}" "${2}" {
		${3}
	}
snippet pro Provider
	provider "${1}" {
		${2}
	}
snippet da Data source
	data "${1}" "${2}" {
		${3}
	}
snippet mo Module
	module "${1}" {
		${2}
	}
